/* tag styles  */

a {
	text-decoration: none;
}

h2 {
	color: #613475;
}

p {
	color: #535353;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 80px;
}

/* container class styles */

.body-wrapper {
	display: grid;
	grid-auto-flow: row;
}

.first-body {
	height: auto;
}

.second-body {
	height: auto;
	background-image: url('./assets/banner-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 10%;
}

.third-body {
	height: auto;
}

.fourth-body {
	padding-bottom: 10%;
	overflow: hidden;
	height: auto;
	display: grid;
	height: auto;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.fifth-body {
	height: auto;
	margin: 20px;
}

.footer-wrapper {
	display: grid;
}

/* header and nav styles */

.header-container {
	background-image: url('./assets/hero.jpg');
	height: 750px;
}

.welcome {
	width: auto;
}

.hero-content-parent {
	font-size: 30px;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
	height: 90%;
	width: 100%;
	color: white;
}

.navbar {
	padding: 3%;
}

.navbar-logo {
	float: left;
	width: 20%;
	padding-left: 10%;
}

/* button styles */

.purple-button {
	border: none;
	color: white;
	padding: 15px;
	background-color: #ac5fd1;
	border-radius: 7px;
}

.orange-button {
	border: none;
	color: white;
	padding: 15px;
	background-color: #ff7218;
	border-radius: 7px;
}

/* reusable grid classes */

.two-column-grid {
	display: grid;
	height: auto;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* .one-column-grid {
	height: 600px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
/* } */

/* component specific grids */

.icon-grids {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: rgba(250 250 250);
	justify-items: center;
	align-items: center;
	padding: 50px;
}

/* reusable component styles for text and image */

.component-image {
	width: 100%;
	/* height: auto; */
	min-height: 440px;
	object-fit: cover;
}

.component-text {
	margin: 10%;
	padding: 5px;
	padding-bottom: 7px;
}

.second-body-content {
	margin: 20%;
}

.img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.social-icon {
	width: 3%;
	padding: 5px;
	/* grid-area: social-icon; */
}

.icon-wrapper {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.small-icon {
	width: 30%;
	border-radius: 50%;
	padding: 10px;
	border-style: solid;
	border-color: rgba(172 95 208);
}

.icon-title-wrapper {
	width: auto;
	text-align: center;
}

/* carousel styles */

.stars {
	color: #ff7218;
}

.slick-prev:before,
.slick-next:before {
	color: #613475 !important;
}

.carousel {
	width: 90%;
}

.slide-title {
	color: #613475;
	text-align: center;
}

.slide-body {
	margin: 5px;
	padding: 10px;
	text-align: centrer;
}

.slider-container {
	margin: 10%;
}

.slick-dots li button {
	color: red;
}

.button-wrapper {
	margin: 15%;

	float: right;
	width: 70%;
}

.image-behind {
	position: absolute;
	/* height: auto; */
	max-width: 100%;
	min-height: 450px;
	/* max-height: auto; */
	object-fit: cover;
	z-index: -1;
}

@media screen and (max-width: 1fr) {
	.button-wrapper {
		padding-top: 1000px;
	}
}
