/* tag styles  */

a {
	text-decoration: none;
}

h1 {
	margin: 0px;
}

h2 {
	color: #613475;
}

p {
	color: #535353;
}

button {
	-webkit-appearance: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* container class styles */

.body-wrapper {
	display: grid;
	grid-auto-flow: row;
}

.first-body {
	height: auto;
}

.second-body {
	height: auto;
	background-image: url('./assets/banner-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 10%;
}

.third-body {
	height: auto;
}

.fourth-body {
	padding-bottom: 5%;
	overflow: hidden;
	display: grid;
	height: auto;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.fifth-body {
	height: auto;
	margin: 20px;
}

.footer-wrapper {
	background-color: rgba(250 250 250);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	padding-bottom: 50px;
	padding-top: 20px;
}

/* header and nav styles */

.header-container {
	background-image: url('./assets/hero.jpg');
	height: 750px;
}

.welcome {
	width: auto;
}

.hero-content-parent {
	font-size: 30px;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
	height: 90%;
	width: 100%;
	color: white;
	text-align: center;
}

.navbar {
	padding: 3%;
}

.navbar-logo {
	float: left;
	width: 200px;
	padding-left: 10%;
}

/* button styles */

.purple-button {
	border: none;
	color: white;
	padding: 15px;
	background-color: #ac5fd1;
	border-radius: 7px;
}

.purple-button:hover {
	background-color: #7f419b;
	cursor: pointer;
}

.orange-button {
	border: none;
	color: white;
	padding: 15px;
	margin-top: 10px;
	background-color: #ff7218;
	border-radius: 7px;
}

.orange-button:hover {
	background-color: #d35202;
	cursor: pointer;
}

/* reusable grid classes */

.two-column-grid {
	display: grid;
	height: auto;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
/* component specific grids */

.icon-grids {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: rgba(250 250 250);
	justify-items: center;
	align-items: center;
	padding: 50px;
}

/* reusable component styles for text and image */

.component-image {
	width: 100%;
	min-height: 440px;
	object-fit: cover;
}

.component-text {
	margin: 10%;
	padding: 5px;
	padding-bottom: 7px;
}

.img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.social-icons {
	width: 100%;
	text-align: center;
}

.social-icon {
	width: 3rem;
	padding: 0px 5px 0px 5px;
	display: inline-block;
}

.image-behind {
	position: absolute;
	max-width: 100%;
	min-height: 450px;
	object-fit: cover;
	z-index: -1;
}

.icon-wrapper {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.small-icon {
	width: 30%;
	border-radius: 50%;
	padding: 20px 22px 20px 22px;
	border-style: solid;
	border-color: rgba(172 95 208);
}

.icon-title-wrapper {
	width: auto;
	text-align: center;
}

/* misc component specific styles */

.second-body-content {
	margin: 20%;
}

.button-wrapper {
	margin: 15%;
	float: right;
	width: 70%;
}

@media screen and (max-width: 800px) {
	.button-wrapper {
		padding-top: 120px;
	}
}

/* carousel styles */

.stars {
	color: #ff7218;
}

.slick-prev:before,
.slick-next:before {
	color: #613475 !important;
}

.carousel {
	width: 90%;
}

.slide-title {
	color: #613475;
	text-align: center;
}

.slide-body {
	margin: 5px;
	padding: 10px;
	text-align: centrer;
}

.slider-container {
	margin: 10%;
}

.slider-title {
	margin: 5%;
	padding: 5px;
	align-self: center;
}

/* animations */

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.pulse:hover {
	animation-name: pulse;
	animation-duration: 0.75s;
}

@keyframes fade-in-up {
	from {
		-webkit-opacity: 0;
		-webkit-padding-before: 20px;
		opacity: 0;
		padding-top: 20px;
	}
	to {
		-webkit-opacity: 1;
		-webkit-padding-before: 0px;
		opacity: 1;
		padding-top: 0px;
	}
}

.fade-in-up {
	animation-name: fade-in-up;
	animation-duration: 1.5s;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.component-text {
		margin: 15%;
		margin-right: 30%;
		padding: 5px;
		padding-bottom: 7px;
	}

	.button-wrapper {
		margin: 15%;
		margin-right: 20%;
		float: right;
		width: 60%;
		padding-top: 150px;
	}

	.slider-container {
		margin-right: 20%;
	}

	.icon-grids {
		padding-left: 0;
	}

	.image-behind {
		width: auto;
	}
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	.component-text {
		margin: 15%;
		margin-right: 30%;
		padding: 5px;
		padding-bottom: 7px;
	}

	.button-wrapper {
		margin: 15%;
		margin-right: 20%;
		float: right;
		width: 60%;
	}

	.slider-container {
		margin-right: 20%;
	}

	.icon-grids {
		padding-left: 0;
	}

	.image-behind {
		width: auto;
	}
}
